@tailwind base;
@tailwind components;
@tailwind utilities;

.del-btn {
    opacity: 0;
    top: 5px;
    right: 5px;

    transition: all .5s;
}

.col-12 :hover .del-btn {
    opacity: 1;

}

:root {
    --primary: #00ff41;
}

.txt-pr {
    color: var(--primary);
}

.bg-pr {
    background-color: var(--primary);
}

.bg-pr-light {
    background-color: rgba(0, 255, 65, 0.8);
}


.btn-dark {
    background-color: var(--primary);
    color: #212529;
}

:hover .my-3 .btn .btn-dark {
    color: white;
}

.container-post {
    border: 1px solid var(--primary);
    margin-top: 5px;
    border-radius: 5px;
    padding: 5px;

}

.glow-pr {
    box-shadow: 0px 0px 10px var(--primary);
}

.background-pat {
    background-image: url('./images/background-pattern.png');
    background-size: cover;
    background-position: center;
}

.bg-input {
    background-color: rgba(255, 255, 255, 0.8);
    border-color: #212529;
}

.modal-footer {
    border-top: 1px solid var(--primary);
}