@tailwind base;
@tailwind components;
@tailwind utilities;

.del-btn {
    opacity: 0;
    top: 5px;
    right: 5px;

    transition: all .5s;
}

.col-12 :hover .del-btn {
    opacity: 1;

}

:root {
    --primary: #00ff41;
}

.txt-pr {
    color: var(--primary);
}

.btn-dark {
    background-color: var(--primary);
    color: #212529;
}

:hover .my-3 .btn .btn-dark {
    color: white;
}

.container-post {
    border: 1px solid var(--primary);
    background-color: transparent;
    backdrop-filter: blur(8px);
    margin-top: 5px;
    border-radius: 5px;
    padding: 5px;

}

.background-pat {
    background-image: url('/images/background-pattern.png');
    background-size: cover;
    /* Assicura che l'immagine copra l'intero sfondo */
    background-position: center;
}
